@model Lab6.ViewModels.CourseViewModel
@{
    ViewBag.Title = "Add New Course";
    ViewBag.HeaderImageSrc = @Url.Content("~/Content/images/SAT.png");
    ViewBag.HeaderImageAlt = "School of Advanced Technology";
}

<div class="page-header">
    <h1>Add New Course</h1>
</div>

<div id="resultNotification" class="alert">

</div>

@using (Html.BeginForm("Add", "Course", FormMethod.Post, new { @class = "form-horizontal", id = "submitCourse" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Number, new { @class = "col-sm-3 control-label" })
        <div class="col-sm-9">
            @Html.TextBoxFor(m => m.Number, new { @class = "form-control", id = "courseNumber", placeholder = "Course Number" })
            @Html.ValidationMessageFor(m => m.Number)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-sm-3 control-label" })
        <div class="col-sm-9">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", id = "courseName", placeholder = "Course Name" })
            @Html.ValidationMessageFor(m => m.Name)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.WeeklyHours, new {@class = "col-sm-3 control-label"})
        <div class="col-sm-9">
            @Html.TextBoxFor(m => m.WeeklyHours, new {@class = "form-control", id = "courseHours", type = "number", value = "1", min = "1"})
            @Html.ValidationMessageFor(m => m.WeeklyHours)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Description, new { @class = "col-sm-3 control-label" })
        <div class="col-sm-9">
            @Html.TextAreaFor(m => m.Description, 8, 20, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Description)
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button id="submit" type="submit" class="btn btn-success">Save</button>
            <button id="cancel" type="button" class="btn btn-danger">Cancel</button>
        </div>
    </div>
}

<div id="registeredCourses">

</div>

@section Scripts
{
    <script type="text/javascript" src="~/Scripts/course.js"></script>
}