@model Lab10.ViewModels.CourseViewModel

@using (Html.BeginForm("CreateUpdate", "Course", FormMethod.Post, new { @class = "form-horizontal", id = "submitCourse" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Number, new { @class = "col-sm-3 control-label" })
        <div class="col-sm-9">
            @Html.TextBoxFor(m => m.Number, new { @class = "form-control", id = "courseNumber", placeholder = "Course Number" })
            @Html.ValidationMessageFor(m => m.Number)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-sm-3 control-label" })
        <div class="col-sm-9">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", id = "courseName", placeholder = "Course Name" })
            @Html.ValidationMessageFor(m => m.Name)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.WeeklyHours, new { @class = "col-sm-3 control-label" })
        <div class="col-sm-9">
            @Html.TextBoxFor(m => m.WeeklyHours, new { @class = "form-control", id = "courseHours", type = "number", value = "1", min = "1" })
            @Html.ValidationMessageFor(m => m.WeeklyHours)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Description, new { @class = "col-sm-3 control-label" })
        <div class="col-sm-9">
            @Html.TextAreaFor(m => m.Description, 8, 20, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Description)
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button id="submit" name="submit" type="submit" class="btn btn-success">Save</button>
            <button id="cancel" name="cancel" type="button" class="btn btn-danger">Cancel</button>
        </div>
    </div>
}