@using System.Runtime.InteropServices
@model Lab4.ViewModels.UserColourViewModel
@{
    ViewBag.Title = "User Overview";
    ViewBag.HeaderImageSrc = @Url.Content("~/Content/images/SAT.png");
    ViewBag.HeaderImageAlt = "School of Advanced Technology";
}

<div class="page-header">
    <h2>Your Profile</h2>
</div>

<ul>
    <li>Name: @Model.Name</li>
    <li>Favourite Colour: @Model.Colour</li>
</ul>

<hr/>

<a class="btn btn-danger" href="@Url.Action("Delete", "User")">Delete User</a>
<a class="btn btn-success" href="@Url.Action("Add", "Course")">Continue to Registration</a>