@model Lab4.ViewModels.CourseViewModel
@{
    ViewBag.Title = "Create Course";
    ViewBag.HeaderImageSrc = @Url.Content("~/Content/images/SMD.png");
    ViewBag.HeaderImageAlt = "School of Media and Design";
}

<div class="page-header">
    <h2>Create Course</h2>
</div>

@using (Html.BeginForm("Add", "Course", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Number, new {@class = "col-sm-2 control-label"})
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.Number, new {@class = "form-control", id = "courseNumber", placeholder = "Course Number"})
            @Html.ValidationMessageFor(m => m.Number)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Name, new {@class = "col-sm-2 control-label"})
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.Name, new {@class = "form-control", id = "courseName", placeholder = "Course Name"})
            @Html.ValidationMessageFor(m => m.Name)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Hours, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.Hours, new { @class = "form-control", id = "courseHours", placeholder = "Weekly Hours" })
            @Html.ValidationMessageFor(m => m.Hours)
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">Create Course</button>
        </div>
    </div>
}

