@model Lab5.ViewModels.StudentViewModel
@{
    ViewBag.Title = "Register Students";
    ViewBag.HeaderImageSrc = @Url.Content("~/Content/images/SAT.png");
    ViewBag.HeaderImageAlt = "School of Advanced Technology";
}

<div class="page-header">
    <h1>Register Students</h1>
</div>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}

@using (Html.BeginForm("Add", "Student", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="form-group">
        <label class="col-sm-3 control-label" for="SelectedCourseId">Offering</label>
        <div class="col-sm-9">
            <select class="form-control" data-val="true" data-val-required="Required" id="SelectedCourseId" name="SelectedCourseId">
                <option value="">Please select an offering...</option>
                @foreach (var offering in Model.CourseOfferings)
                {
                    <option value="@offering.CourseOffered.Number" data-year="@offering.Year" data-semester="@offering.Semester">@offering.ToString()</option>
                }
            </select>
        </div>
       
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Number, new {@class = "col-sm-3 control-label"})
        <div class="col-sm-9">
            @Html.TextBoxFor(m => m.Number, new {@class = "form-control", id = "studentNumber", placeholder = "Student Number"})
            @Html.ValidationMessageFor(m => m.Number)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-sm-3 control-label" })
        <div class="col-sm-9">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", id = "studentName", placeholder = "Student Name" })
            @Html.ValidationMessageFor(m => m.Name)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Type, new { @class = "col-sm-3 control-label" })
        <div class="radio radio-inline control-label">
            <label>
                @Html.RadioButtonFor(m => m.Type, "full-time", new { name = "type", id = "fullTime", @checked = true }) Full Time
            </label>
        </div>

        <div class="radio radio-inline control-label">
            <label>
                @Html.RadioButtonFor(m => m.Type, "part-time", new { name = "type", id = "partTime" }) Part Time
            </label>
        </div>

        <div class="radio radio-inline control-label">
            <label>
                @Html.RadioButtonFor(m => m.Type, "coop", new { name = "type", id = "coop" }) Coop
            </label>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button id="submit" type="submit" class="btn btn-success">Add to Course Offering</button>
        </div>
    </div>
}

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#SelectedCourseId").change(function () {
                var $opt = $(this.options[this.selectedIndex]),
                    id = $(this).val(),
                    year = $opt.attr("data-year"),
                    semester = $opt.attr("data-semester");

                $.ajax({
                    type: "GET",
                    url: "/Student/GetStudentsInOffering",
                    data: { offeringId: id, year: year, semester: semester },
                    dataType: "HTML",
                    contentType: "application/json; charset=utf-8",
                    cache: false,
                    success: function (result) {
                        $("#studentsInOffering").html(result);
                    },
                    error: function (xhr, status, error) {
                        var err = eval("(" + xhr.responseText + ")");
                        alert(err.Message);
                    }
                });
            });

            $("#submit").submit(function () {
                var $opt = $(this.options[this.selectedIndex]),
                    id = $(this).val(),
                    year = $opt.attr("data-year"),
                    semester = $opt.attr("data-semester");

                $.ajax({
                    type: "GET",
                    url: "/Student/GetStudentsInOffering",
                    data: { offeringId: id, year: year, semester: semester },
                    dataType: "HTML",
                    contentType: "application/json; charset=utf-8",
                    cache: false,
                    success: function (result) {
                        $("#studentsInOffering").html(result);
                    },
                    error: function (xhr, status, error) {
                        var err = eval("(" + xhr.responseText + ")");
                        alert(err.Message);
                    }
                });
            });
        });
    </script>
}

<div id="studentsInOffering">
    
</div>