@model Lab2.ViewModels.BookViewModel
@{
    ViewBag.Title = "Index";
}

<h1>Welcome</h1>
<hr/>
<p class="alert-info">Buy today to get free delivery to your classroom!</p>

<div class="row">
    <div class="col-lg-6">
        <section>
            <h4>Select a book</h4>
            <hr/>
            @using (Html.BeginForm(FormMethod.Post))
            {
                @Html.DropDownListFor(m => m.BookId,
                    new SelectList(Model.BookData, "Id", "Title"),
                    "Please select a book",
                    new {@onchange = "this.form.submit();", @class = "form-control"})
            }
        </section>

        <section>
            <h4>Description</h4>
            <hr/>
            <p>@Model.Description</p>
        </section>
    </div>

    <div class="col-lg-5 pull-right">
        <section>
            <h4>Item Details</h4>
            <hr/>
            <button type="button" class="btn btn-info btn-sm" disabled>@Html.DisplayFor(m => m.Price)</button>

            @using (Html.BeginForm("Cart", "Store", FormMethod.Post, new {@class = "order-form form-inline"}))
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.NumCopies, new {@class = "sr-only"})
                    @Html.TextBoxFor(model => model.NumCopies, new {@class = "form-control input-sm", @placeholder = "Enter quantity", @value = ""})
                    @Html.ValidationMessageFor(model => model.NumCopies)
                </div>

                <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-cart-plus"></i> Add to Cart</button>
            }
        </section>
    </div>
</div>